body {
  font-size: 16px;
  color:black;
  background-color: #B1FAFF;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: #10178B;
  text-decoration: none;
}

a:hover {
  color: #219CF7;
  text-decoration: none;

}

#copyright {
  font-size: .7em;
}

/** HEADER **/
  .container {
    background-color: #B1FAFF; 
  }


.navbar-default {
  background-color: #B1FAFF;
}

.jumbotron {
  background-color: #B1FAFF;
}


#header-nav {
  border-radius: 0;
  border: 0;
}

#movie{
  margin:auto;
  text-align: center;
}

#logo-img {
  background: url('../link/Lplogo.svg') no-repeat;
  width: 150px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #10178B;
  text-align: center;
}
#nav-list a:hover {
  background: #FEF17F;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* Mobile No. */
  color: #10178B;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #F79C21;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

section#intro p {
  text-align: center;
  margin-top:5em;
  margin-left:2em;
  font-size:17px;
  letter-spacing: .7px;
  color: black;
}

img#girl {
  width:50%;
  margin-top:-10px;
  margin-left:auto;
  margin-right:auto;
  padding-left:5em;
}

/* END HEADER */

/* body */
img#cloud1 {
  position: relative;
  float: right;
  top:-350px;
  right:10em;
}

img#cloud2 {
  position: relative;
  float: left;
  top:-40px;
  left:4em;
}

img#cloud3 {
  position: relative;
  float: right;
  top:-100px;
  right:-5em;
}
/* FOOTER */
.row {
  text-align: center;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #B1FAFF;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1em;
  font-weight: bold;
}
#address p {
  color: black;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/* slide */
* {box-sizing: border-box}
.mySlides2 {display: none}
img {vertical-align: middle;}


/* Slideshow container */

div #first .mySlides2 {display: visibility}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}



div#nav-2 {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
  text-align: center;
  background-color; #000;
  opacity: .8;
}


ul#nav-2as.nav.navbar-nav {
  cursor: pointer;
  position: absolute;
  margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
  width:100%;
  text-align: center;
  background-color; #000;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/* End slide*/

/********** Large devices only **********/

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    section#intro p {
  box-sizing: 200px;
  margin-top:3em;
  margin-left:0;
  font-size:16px;
  letter-spacing: .7px;
  color: black;
}

img#girl {
  width:53%;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  padding-left:5em;
}
}


  

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  section#intro p {
  box-sizing: 200px;
  margin-top:3em;
  margin-left:0;
  font-size:16px;
  letter-spacing: .7px;
  color: black;
}

img#girl {
  width:52%;
  margin-top:0 ;
  margin-left:auto;
  margin-right:auto;
  padding-left:0;
}

  img#cloud1 {
    size:100px;
    position: relative;
    float: right;
    top:-400px;
    left:-1em;
    }

img#cloud2 {
  width:8em;
  position: relative;
  float: right;
  top:10px;
  left:10em;
}

img#cloud3 {
  width:10em;
  position: relative;
  float: right;
  top:20px;
  right:4em;
}
}







/********** Extra small devices only **********/
@media (max-width: 767px) {

  div #logo-img {
  background: url('../link/Lplogo.svg') no-repeat;
  padding-left: 10px;
  width: 150px;
  height: 100px;
  margin: 10px 25px 10px 0;
}

   section#intro p {
  box-sizing: 200px;
  padding-left:8px;
  margin-top:-1em;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;
  letter-spacing: .7px;
  color: black;
}

  img#girl {
  width:90%;
  margin-top:25px ;
  margin-left:auto;
  margin-right:auto;
  padding-top: 10px;
}

  img#cloud1 {
  width:4em;
  position: relative;
  float:right;
  right:2em;
}

img#cloud2 {
  width:9em;
  position: relative;
  float:left;
  left:-1em;
  
}

img#cloud3 {
  width:8em;
  position: relative;
  float:right;
  right:-4em;
}


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  /* End Header */


/* button botttom */
  ul#nav-2as.nav.navbar-nav {
  cursor: pointer;
  position: absolute;
  margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
  width:15%;
  text-align: center;
  background-color; #000;
}






  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {


/* button botttom */
  ul#nav-2as.nav.navbar-nav {
    float:left;
    top: 10em;
  cursor: pointer;
  position: absolute;
  margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
  width:18%;
  text-align: center;
  background-color; #000;
}


  #logo-img {
  background: url('../link/Lplogo.svg') no-repeat;
  width: 150px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

    section#intro p {
  box-sizing: 200px;
  padding-left:10px;
  margin-top:-1em;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;
  letter-spacing: .7px;
  color: black;
}

  img#girl {
  position: relative;
  float:right;
  right:2.4em;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  margin-top:0 ;
}

  img#cloud1 {
  width:3em;
  position: relative;
  float:right;
  top:-13em;

}

img#cloud2 {
  width:5em;
  position: relative;
  float:left;
  
}

img#cloud3 {
   width:5.5em;
  position: relative;
  float:right;
  top:-30px;
  left:.5em;
}

#movie{
  size:80%;
  margin:auto;
  text-align: center;
}


  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}

